// 公共样式

// 页面title
.page-title{
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: solid 1px #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title{
    color: #666;
    font-size: 16px;
  }
  .top-btn{
    .btn{
      margin-left: 10px;
    }
  }
}

// 搜索
.search-wrap{
  margin-bottom: 15px;
  .search-time,
  .search-select,
  .search-input{
    width: 200px;
    margin-left: 5px;
  }
  .item-box{
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 20px;
  }
}

// tab
.tab-wrap{
  margin-top: 15px;
}

// 分页
.page-wrap{
  padding: 15px 0;
  display: flex;
  justify-content: flex-end;
}

// 分隔线、分隔块
.div-block{
  background-color: #f1f4f7;
  height: 6px;
}
.div-line{
  background-color: #eee;
  height: 1px;
}
.flex{
  display: flex;
}
.flex-none{
  flex: none;
}
.text_align_center{
  text-align: center;
}

// 字体颜色
.text-blue{
  color:#30A5FF;
} 
.text-maroon{
  color:#F9243F;
}
.text-muted{
  color:#5F6468;
}


// 表格
.cus-table{
  border-collapse: collapse;
  width: 100%;
  tr{
    th,
    td{
      border: 1px solid #dcdcdc;
      padding: 10px;
      line-height: 1.5;
      text-align: center;
      vertical-align: middle;
    }
    th{
      font-size: 15px;
      font-weight: 600;
      background-color: #f8f8f9;
    }
    &:hover{
      background-color: #ebf7ff;
    }
  }
}
