/* iview 部分样式覆盖 */
.ivu-table-header thead tr th {
  padding: 15px 0;
}

/* iview tree */
.ivu-tree-title{
  padding: 4px 6px;
}
.ivu-tree-children .ivu-tree-arrow{
  margin-top: 4px;
}

/* iview confirm 弹窗图标 */
.ivu-modal-confirm-head-icon .ivu-icon{ 
  font-size: 28px;
}


/* iview modal 垂直居中 */
.vertical-center-modal{
  display: flex;
  align-items: center;
  justify-content: center;
}
.vertical-center-modal .ivu-modal{
	top: 0;
}

